header {
	background: linear-gradient(to right, #025707, #4caf50);
}
footer {
	background: linear-gradient(to right, #025707, #4caf50);
}
header,
footer {
	padding: 10px;
	color: white;
	text-align: center;
}
.form-container {
	backdrop-filter: blur(7px);
	background: rgba(255, 255, 255, 0.8);
}
.hero-section{
		backdrop-filter: blur(7px);
	background: rgba(8, 8, 8, 0.37);

}
.main-page-background {
	background-image: url('../../assets/images/top-ten-foods-for-health-2x.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#meals-container {
	transition: all 300ms;
}
.bg-svg{
	background: url('../images/wickedbackground.svg');
}